[submodule "HEngine/vendor/spdlog"]
	path = HEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HEngine/vendor/GLFW"]
	path = HEngine/vendor/GLFW
	url = https://github.com/hebohang/glfw
[submodule "HEngine/vendor/imgui"]
	path = HEngine/vendor/imgui
	url = git@github.com:hebohang/imgui.git
[submodule "HEngine/vendor/glm"]
	path = HEngine/vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "HEngine/vendor/yaml-cpp"]
	path = HEngine/vendor/yaml-cpp
	url = git@github.com:hebohang/yaml-cpp.git
[submodule "HEngine/vendor/ImGuizmo"]
	path = HEngine/vendor/ImGuizmo
	url = git@github.com:hebohang/ImGuizmo.git
[submodule "HEngine/vendor/Box2D"]
	path = HEngine/vendor/Box2D
	url = git@github.com:hebohang/box2d.git
