[submodule "HEngine/vendor/spdlog"]
	path = HEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HEngine/vendor/GLFW"]
	path = HEngine/vendor/GLFW
	url = https://github.com/hebohang/glfw
[submodule "HEngine/vendor/imgui"]
	path = HEngine/vendor/imgui
	url = git@github.com:hebohang/imgui.git
